---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Chip from "src/components/Chip.astro";
import Link from "src/components/Link.astro";
import Table from "src/components/Table.astro";
import { cn } from "src/utils";

type Props = {
  index?: string;
  projectTitle?: string;
  year?: string;
  role?: string;
  chips?: string[];
  image?: ImageMetadata;
  url?: string;
};

const { index = "00", projectTitle="", year="", role="", chips=[], image, url="#" } = Astro.props;
---

<div class={cn(
  "w-full p-3 bg-secondary-alt rounded-2xl lg:p-8 custom-transtion",
  "after:absolute after:content-[''] after:w-[80%] after:h-[1px] after:bg-border after:right-0 after:translate-y-[28px] last:after:hidden",
  "lg:after:translate-y-[96px] lg:after:w-1/2"
)}>
    <div class="relative flex lg:gap-8">
      <div class={cn(
          "relative overflow-hidden rounded-xl w-full saturate-0 custom-transition hover:saturate-[0.5] max-w-[1440px]",
          "before:absolute before:inset-0 before:content-[''] before:bg-black before:opacity-20 lg:before:bg-[unset]"
        )}>
        <Image
          src={image}
          alt={projectTitle}
          widths={[360, 720 ,1440]}
          format="webp"
          decoding="async"
          loading="lazy"
          fetchpriority="low"
          class="object-cover object-left-top w-full aspect-[45/32]"
        />
      </div>
      <div class="flex flex-col gap-6 items-end">
        <span class="absolute top-3 left-3 font-sans text-[64px] leading-[86px] lg:static lg:text-right ">{index}</span>
        <Table
          className="hidden lg:table lg:min-w-[136px]"
          title="PROJECT INFO"
          items={[
            {
              label: "Year",
              value: year,
            },{
              label: "Role",
              value: role
            }
          ]}
          variant="project"
        />
      </div>
    </div>
    <div class="mt-3 flex flex-col gap-1 lg:mt-8">
      <h3 class="text-[24px] leading-[32px] font-sans lg:text-[40px] lg:leading-[54px]">{projectTitle}</h3>
      <div class="flex flex-wrap gap-2">
        {chips.map((text)=>(<Chip text={text} variant="outlined" />))}
      </div>
    </div>
    <div class="mt-3 lg:mt-12">
      <Link href={url} target={url!=="#" ? "_blank" : undefined}>Learn More</Link>
    </div>
</div>
