---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Logo from "src/components/Logo.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Chip from "src/components/Chip.astro";
import DarkModeSwitch from 'src/components/DarkModeSwitch';

type Props = {frontmatter: CollectionEntry<'blog'>['data']};

const { frontmatter } = Astro.props;

---
<BaseLayout title={`${frontmatter.title} | Michał Skorus`}>
  <header class="sticky top-0 z-30 w-full py-4 px-3 bg-secondary custom-transition lg:py-6 lg:px-12 lg:bg-transparent">
    <div class="flex justify-between items-center w-full">
      <a href="/" class="block h-[24px] ">
        <Logo />
      </a>
      <div>
        <DarkModeSwitch client:only="react" />
      </div>
    </div>
  </header>
  <article class="max-w-3xl mx-auto">
    <header>
      <div class="relative z-[-1] mx-3">
        <div class="rounded-[16px] overflow-hidden">
          <Image src={frontmatter.cover} alt={frontmatter.coverAlt}/>
        </div>
        {frontmatter.coverAuthor && <span class="text-[8px] leading-[1] font-sans origin-bottom-left rotate-90 absolute top-2 left-full text-nowrap lg:text-[10px]">PHOTO BY {frontmatter.coverAuthor.toUpperCase()}</span>}
      </div>
      <div class="py-6 px-4 bg-secondary-alt border border-border rounded-[16px] flex flex-col gap-4 items-center mt-[-36px] mb-12 mx-6 custom-transition lg:mx-16 lg:p-6">
        <ul class="flex items-center gap-1 w-fit">
          <li class="text-[10px] leading-[1] text-primary lg:text-[12px]"><a href="/">michalskorus.pl</a></li>
          <div class="w-[10px] h-[10px] flex-shrink-0">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.3335 7.91659V2.08325L7.91683 4.99992L3.3335 7.91659Z" fill="currentColor"/>
            </svg>
          </div>
          <li class="text-[10px] leading-[1] text-primary lg:text-[12px]">blog</li>
          <div class="w-[10px] h-[10px] flex-shrink-0">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.3335 7.91659V2.08325L7.91683 4.99992L3.3335 7.91659Z" fill="currentColor"/>
            </svg>
          </div>
          <li class="text-[10px] leading-[1] text-primary opacity-[0.64] lg:text-[12px]">post</li>
        </ul>
        <div class="flex flex-col gap-3 items-center">
          <h1 class="text-[20px] text-center lg:text-[28px]">
            {frontmatter.title}
          </h1>
          {frontmatter.tags.length > 0 && <ul class="flex gap-2 flex-wrap w-fit">
            {frontmatter.tags.map((tag) => (
              <li>
                <Chip text={tag} variant="outlined" />
              </li>
            ))}
          </ul>}
        </div>
        <div class="flex gap-3 flex-wrap">
          <address class="flex gap-1 items-center not-italic">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5002 9.99992C9.5835 9.99992 8.79877 9.67353 8.146 9.02075C7.49322 8.36797 7.16683 7.58325 7.16683 6.66659C7.16683 5.74992 7.49322 4.9652 8.146 4.31242C8.79877 3.65964 9.5835 3.33325 10.5002 3.33325C11.4168 3.33325 12.2016 3.65964 12.8543 4.31242C13.5071 4.9652 13.8335 5.74992 13.8335 6.66659C13.8335 7.58325 13.5071 8.36797 12.8543 9.02075C12.2016 9.67353 11.4168 9.99992 10.5002 9.99992ZM3.8335 16.6666V14.3333C3.8335 13.861 3.95516 13.4271 4.1985 13.0316C4.44183 12.636 4.76461 12.3338 5.16683 12.1249C6.02794 11.6944 6.90294 11.3716 7.79183 11.1566C8.68072 10.9416 9.5835 10.8338 10.5002 10.8333C11.4168 10.8327 12.3196 10.9405 13.2085 11.1566C14.0974 11.3727 14.9724 11.6955 15.8335 12.1249C16.2363 12.3333 16.5593 12.6355 16.8027 13.0316C17.046 13.4277 17.1674 13.8616 17.1668 14.3333V16.6666H3.8335Z" fill="currentColor"/>
            </svg>
            <span class="text-[10px] leading-[1] text-primary lg:text-[12px]">{frontmatter.author}</span>
          </address>
          <time class="flex gap-1 items-center">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.66667 18.3334C4.20833 18.3334 3.81611 18.1704 3.49 17.8442C3.16389 17.5181 3.00056 17.1256 3 16.6667V5.00008C3 4.54175 3.16333 4.14953 3.49 3.82341C3.81667 3.4973 4.20889 3.33397 4.66667 3.33341H5.5V1.66675H7.16667V3.33341H13.8333V1.66675H15.5V3.33341H16.3333C16.7917 3.33341 17.1842 3.49675 17.5108 3.82341C17.8375 4.15008 18.0006 4.5423 18 5.00008V16.6667C18 17.1251 17.8369 17.5176 17.5108 17.8442C17.1847 18.1709 16.7922 18.334 16.3333 18.3334H4.66667ZM4.66667 16.6667H16.3333V8.33341H4.66667V16.6667Z" fill="currentColor"/>
            </svg>
            <span class="text-[10px] leading-[1] text-primary lg:text-[12px]">{`${frontmatter.publishDate.getDay()} ${frontmatter.publishDate.toLocaleString('en', { month: 'short' })} ${frontmatter.publishDate.getFullYear()}`}</span>
          </time>
          {frontmatter.readTime && <div class="flex gap-1 items-center">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 2.49992V0.833252H13V2.49992H8ZM9.66667 11.6666H11.3333V6.66659H9.66667V11.6666ZM10.5 18.3333C9.47222 18.3333 8.50333 18.1355 7.59333 17.7399C6.68333 17.3444 5.88833 16.806 5.20833 16.1249C4.52833 15.4438 3.99028 14.6485 3.59417 13.7391C3.19806 12.8296 3 11.861 3 10.8333C3 9.80547 3.19806 8.83659 3.59417 7.92659C3.99028 7.01659 4.52833 6.22159 5.20833 5.54159C5.88833 4.86159 6.68361 4.32353 7.59417 3.92742C8.50472 3.53131 9.47333 3.33325 10.5 3.33325C11.3611 3.33325 12.1875 3.47214 12.9792 3.74992C13.7708 4.0277 14.5139 4.43047 15.2083 4.95825L16.375 3.79159L17.5417 4.95825L16.375 6.12492C16.9028 6.81936 17.3056 7.56242 17.5833 8.35408C17.8611 9.14575 18 9.97214 18 10.8333C18 11.861 17.8019 12.8299 17.4058 13.7399C17.0097 14.6499 16.4717 15.4449 15.7917 16.1249C15.1117 16.8049 14.3164 17.3433 13.4058 17.7399C12.4953 18.1366 11.5267 18.3344 10.5 18.3333ZM10.5 16.6666C12.1111 16.6666 13.4861 16.0971 14.625 14.9583C15.7639 13.8194 16.3333 12.4444 16.3333 10.8333C16.3333 9.22214 15.7639 7.84714 14.625 6.70825C13.4861 5.56936 12.1111 4.99992 10.5 4.99992C8.88889 4.99992 7.51389 5.56936 6.375 6.70825C5.23611 7.84714 4.66667 9.22214 4.66667 10.8333C4.66667 12.4444 5.23611 13.8194 6.375 14.9583C7.51389 16.0971 8.88889 16.6666 10.5 16.6666Z" fill="currentColor"/>
            </svg>
            <span class="text-[10px] leading-[1] text-primary lg:text-[12px]">{frontmatter.readTime} read</span>
          </div>}
        </div>
      </div>
    </header>
    <div class="blog-post-content">
      <slot />
    </div>
  </article>
</BaseLayout>
